<?php
namespace MDC\Sales\Block;
use Magento\Framework\View\Element\Template;
use Magento\Quote\Model\Quote;
use Magento\Quote\Model\QuoteRepository;

class Abandoned extends Template
{
    protected $quote;
    protected $quoteRepository;

    public function __construct(
        Template\Context $context,
        QuoteRepository $quoteRepository,
        Quote $quote,
        array $data = []
    ) {
        parent::__construct($context, $data);
        $this->quote = $quote;
        $this->quoteRepository = $quoteRepository;
    }

    public function getQuoteId()
    { 
        return $this->quote->getId();
    }
}
?>
<?php
/** @var $block \MDC\Sales\Block\Adminhtml\Abandoned */
$quote = $block->getQuoteId();

if ($quote) :
    $items = $quote->getAllItems();
?>
    <table class="email-items" width="90%">
        <thead>
            <tr>
                <th class="greenbox table-head" colspan="4" bgcolor="#173f35" style="line-height: 30px; color: #fff; font-size: 16px; padding: 5px 10px; text-align: center;" width="460" border="0" cellspacing="0" cellpadding="0">You have the following items in your basket:</th>
            </tr>
        </thead>
        <tbody>
            <?php foreach ($items as $item) : ?>
                <tr>
                    <th class="item-info">
                        <?= $item->getSku() ?>                         
                    </th>
                    <th class="item-info">
                        <?= $item->getName() ?>                             
                    </th>
                    <th class="item-info">
                        <?= intval($item->getQty()) . ' @ ' . $this->helper('Magento\Framework\Pricing\Helper\Data')->currency($item->getPrice(), true, false) . ' each' ?>
                    </th>
                    <th class="item-info">
                        <?= $this->helper('Magento\Framework\Pricing\Helper\Data')->currency($item->getRowTotal(), true, false) ?>
                    </th>
                </tr>
            <?php endforeach; ?>
        </tbody>
    </table>
<?php endif; ?>
